:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --title-white-color: #ffffff;
  --accent: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --icon-color: #afb1b8;
  --footer-bg-socicon: rgba(255, 255, 255, 0.1);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --input-backdrop-color: rgba(33, 33, 33, 0.2);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0px;
  background-color: var(--title-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid greenyellow; */
}

/* logo */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: var(--accent);
}
.logo-white {
  color: var(--title-white-color);
}
/* Header */

/* Site nav */
.page-header-portfolio {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-function);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}
.site-nav .link.current {
  position: relative;
  color: var(--accent);
}
.site-nav .link.current::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.contact-list {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-list .item + .item {
  margin-left: 30px;
}
.contact-list .contact-nav {
  display: flex;
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-function);
}

.contact-nav:hover,
.contact-nav:focus {
  color: var(--accent);
}
.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}
.mail .nav-icon {
  width: 16px;
  height: 11.2px;
}
.tel .nav-icon {
  width: 10px;
  height: 15px;
}
/* Hero */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--title-text-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/headerimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero {
  text-align: center;
}

.hero-title {
  padding-top: 200px;
  margin-bottom: 30px;
  color: var(--title-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  display: inline-block;
  border: 1px solid transparent;
  min-width: 200px;
  padding: 10px 32px;
  background-color: var(--accent);
  color: var(--title-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 250ms var(--time-function);
}
.button-hero:hover,
.button-hero:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.button-hero:active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/* Functions */
.functions {
  padding-top: 94px;
  padding-bottom: 94px;
}
.functions-list {
  display: flex;
}
.icon-frame {
  display: inline-flex;
  width: 100%;
  height: 120px;
  align-items: center;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
}
.functions-icon {
  margin: auto;
  width: 70px;
  height: 70px;
}
/* .functions-list .item::before {
  display: block;
  content: '';
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */
.functions-list .item {
  display: block;
  width: calc((100% - 90px) / 4);
}
.functions-list .item:not(:last-child) {
  margin-right: 30px;
}
.functions-title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.functions-text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Work */
.work {
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  justify-content: space-between;
}
.work-list .work-item:not(:last-child) {
  margin-right: 30px;
}
.work-list .work-item {
  position: relative;
}
.work-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work-text-white {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--title-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.team-item-info {
  text-align: center;
  padding: 30px 32px 24px;
  background: var(--title-white-color);
}
.team-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-list-item {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  margin-bottom: 16px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--icon-color);
  transition: background-color 250ms var(--time-function);
}
.social-list .item:not(:last-child) {
  margin-right: 10px;
}
.social-list .social-link:hover,
.social-list .social-link:focus,
.join-list .social-link:hover,
.join-list .social-link:focus {
  background-color: var(--accent);
}
.social-list .social-link:hover .social-icon,
.social-list .social .link:focus .social-icon {
  fill: var(--title-white-color);
}
.social-icon {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms var(--time-function);
}
.join .social-link {
  background-color: var(--footer-bg-socicon);
}
.join .social-icon {
  fill: var(--title-white-color);
}
/* Clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients-list {
  display: flex;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item {
  display: block;
  width: calc((100% - 150px) / 6);
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  text-align: center;
  transition: border 250ms var(--time-function);
}
.clients-link {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  background-color: transparent;
}
.clients-icon {
  margin: auto;
  fill: currentColor;
  transition: fill 250ms var(--time-function);
}
.clients-item:hover,
.clients-item:focus {
  border: 1px solid var(--accent);
}
.clients-list .clients-link:hover .clients-icon,
.clients-list .clients-link:focus .clients-icon {
  fill: var(--accent);
}
/* Footer */
footer {
  background-color: var(--footer-bg-color);
}
.logo-footer {
  display: block;
  margin-bottom: 8px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-page {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 45px;
}
address {
  display: flex;
  flex-direction: column;
}
.adress-title {
  margin-bottom: 9px;
  color: var(--title-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contact {
  color: var(--footer-text-color);
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contact:last-child {
  margin-bottom: 28px;
}

.join-title {
  display: block;
  color: var(--title-white-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.join-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-list .item:not(:last-child) {
  margin-right: 10px;
}
.subscribe {
  display: flex;
  align-items: flex-end;
  width: 570px;
}
.input-footer {
  display: inline-block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
.input-footer:focus,
.input-footer:active {
  outline: transparent;
  border: 1px solid var(--accent);
}
.subscribe-title {
  display: block;
  color: var(--title-white-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.button-footer {
  display: inline-flex;
  border: 1px solid transparent;
  min-width: 200px;
  padding: 10px 29px;
  background-color: var(--accent);
  color: var(--title-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 250ms var(--time-function);
}
.button-footer:hover,
.button-footer:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.button-footer:active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.subscribe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.copyright {
  display: block;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Portfolio styles */
/* Radio buttons */
.filter {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
/* .filter-item {
  min-width: 73px;
} */
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.press {
  border: none;
  outline: none;
  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  transition: color 250ms var(--time-function),
    background-color 250ms var(--time-function),
    box-shadow 250ms var(--time-function);
}
/* .filter .press {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
} */
.press:hover,
.press:focus {
  color: var(--title-white-color);
  background-color: var(--accent);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.press:active {
  color: var(--title-white-color);
  background-color: var(--accent);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
/* Projects */

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects-item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  transition: box-shadow 250ms var(--time-function);
}
.projects-title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.projects-relative {
  position: relative;
  overflow: hidden;
}
.projects-slogan {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: var(--title-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--time-function);
}
.projects-list .projects-item:hover .projects-slogan,
.projects-list .projects-item:focus .projects-slogan {
  transform: translateY(0);
}
.projects-item:nth-child(3n) {
  margin-right: 0px;
}
.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-info {
  border: 1px solid #eeeeee;
  text-align: left;
  padding: 20px 24px;
}
.projects-item:hover,
.projects-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--time-function),
    visibility 250ms var(--time-function);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;

  background-color: var(--title-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  text-align: center;
  transition: transform 250ms var(--time-function);
}
.call-modal {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-text-color);
  cursor: default;
}
.label {
  position: relative;
  display: block;
  margin-bottom: 28px;
}
.form-field {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-backdrop-color);
  border-radius: 4px;
  transition: border 250ms var(--time-function);
}
.form-field:focus,
.form-field:not(:placeholder-shown) {
  outline: transparent;
  border: 1px solid var(--accent);
}
.label-title {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: transform 250ms var(--time-function),
    top 250ms var(--time-function), left 250ms var(--time-function);
}
.form-field:focus + .label-title,
.form-field:not(:placeholder-shown) + .label-title {
  top: -20px;
  left: 16px;
  transform: translateY(0%);
  color: var(--accent);
}
.icon-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--time-function);
}
.form-field:focus ~ .icon-input,
.form-field:not(:placeholder-shown) ~ .input-icon {
  fill: var(--accent);
}
.form-field-comment {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.textarea-title {
  position: absolute;
  display: inline-block;
  top: 12%;
  left: 16px;
  transform: translateY(-12%);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: transform 250ms var(--time-function),
    top 250ms var(--time-function);
}
.comment:focus + .textarea-title,
.comment:not(:placeholder-shown) + .textarea-title {
  top: -20px;
  transform: translateY(0%);
  color: var(--accent);
}
.comment {
  display: block;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid var(--input-backdrop-color);
  border-radius: 4px;
  resize: none;
  transition: border 250ms var(--time-function);
}
.comment:focus,
.comment:not(:placeholder-shown) {
  outline: transparent;
  border: 1px solid var(--accent);
}
.send {
  display: inline-block;
  border: 1px solid transparent;
  min-width: 200px;
  padding: 10px 55px;
  background-color: var(--accent);
  color: var(--title-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 250ms var(--time-function);
}
.send:hover,
.send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.send:active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
.checkbox:checked + .checkbox-icon {
  border-color: var(--accent);
  background-color: var(--accent);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.check-text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.check-text a {
  color: var(--accent);
  text-decoration: underline;
}
.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  min-width: 30px;
  min-height: 30px;
  padding: 6px 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--title-white-color);
  cursor: pointer;
}
.icon-close {
  margin: auto;
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
}
.close-modal:hover .icon-close,
.close-modal:focus .icon-close {
  fill: var(--accent);
}
