.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.team-item-info {
  text-align: center;
  padding: 30px 32px 24px;
  background: var(--title-white-color);
}
.team-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-list-item {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  margin-bottom: 16px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--icon-color);
  transition: background-color 250ms var(--time-function);
}
.social-list .item:not(:last-child) {
  margin-right: 10px;
}
.social-list .social-link:hover,
.social-list .social-link:focus,
.join-list .social-link:hover,
.join-list .social-link:focus {
  background-color: var(--accent);
}
.social-list .social-link:hover .social-icon,
.social-list .social .link:focus .social-icon {
  fill: var(--title-white-color);
}
.social-icon {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms var(--time-function);
}
.join .social-link {
  background-color: var(--footer-bg-socicon);
}
.join .social-icon {
  fill: var(--title-white-color);
}
